@model List<CarNotes.Models.RefuelModelOutput>
@using CarNotes.Classes;
@{
    Layout = "../Shared/_TableTemplate.cshtml";
}
<div>
    <table class="ui selectable @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) unstackable table ">
        <caption>@ViewBag.Name</caption>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Пробег</th>
                <th>Тип топлива</th>
                <th>АЗС</th>
                <th>Объем</th>
                <th>Цена(1 литр)</th>
                <th>Полный бак</th>
                <th>Забыл внести предыдущую заправку</th>
                <th style="width:0"></th>
                <th style="width:0"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (CarNotes.Models.RefuelModelOutput b in Model)
            {
                <tr>
                    <td>@b.Date</td>
                    <td>@b.Mileage</td>
                    <td>@b.Fuel</td>
                    <td>@b.Station</td>
                    <td>@b.Volume</td>
                    <td>@b.PricePerOneLiter</td>
                    <td>
                        @if (b.FullTank == true)
                        {
                            <i class="check icon"></i>
                        }
                    </td>
                    <td>
                        @if (b.ForgotRecordPreviousGasStation == true)
                        {
                            <i class="check icon"></i>
                        }
                    </td>
                    <td><input type="button" value="&#9998" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="editRefuel(@b.Id)" /></td>
                    <td><input type="button" value="&#10008" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="deleteRefuel(@b.Id)" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

