@model CarNotes.Models.PageRefuelTable
@using CarNotes.Models;
@using CarNotes.Classes;
@{
    Layout = "../Shared/_TableTemplate.cshtml";
    var userHelper = new AuthHelper(Context);
}
<div>
    <table class="ui selectable @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) unstackable table hide-on-mobile">
        <caption>@ViewBag.Name</caption>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Пробег</th>
                <th>Топливо</th>
                <th>АЗС</th>
                <th>Объем</th>
                <th>Цена</th>
                <th>Стоимость</th>
                <th>Полный бак</th>
                <th>Забыл внести предыдущую заправку</th>
                @if (ViewBag.IsChecked)
                {
                    <th style="width:0"></th>
                    <th style="width:0"></th>
                }
                else
                {
                    <th style="width:0"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (RefuelModelOutput b in Model.PageList)
            {
                <tr>
                    <td>@b.Date</td>
                    @if (b.WrongMileage)
                    {
                        <td>@b.Mileage&nbsp;<span data-tooltip="Неправильный пробег"><i class="exclamation orange triangle icon"></i></span></td>
                    }
                    else
                    {
                        <td>@b.Mileage</td>
                    }
                    <td>@b.Fuel</td>
                    <td>@b.Station</td>
                    <td>@b.Volume</td>
                    <td>@b.PricePerOneLiter</td>
                    <td>@b.Cost</td>
                    <td style="text-align:center">
                        @if (b.FullTank == true)
                        {
                            <i class="check icon"></i>
                        }
                    </td>
                    <td style="text-align:center">
                        @if (b.ForgotRecordPreviousGasStation == true)
                        {
                            <i class="check icon"></i>
                        }
                    </td>
                    @if (ViewBag.IsChecked)
                    {
                        <td><input type="button" value="&#9998" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="editRefuel(@b.Id, true)" /></td>
                        <td><input type="button" value="&#10008" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="deleteRefuel(@b.Id)" /></td>
                    }
                    else
                    {
                        <td><input type="button" value="&#128269" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="editRefuel(@b.Id, false)" /></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@foreach (CarNotes.Models.RefuelModelOutput b in Model.PageList)
{
    <div class=" ui grid mobile-only" style="margin-bottom:-2rem">
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">
                        @b.Station
                    </div>
                    @if (ViewBag.IsChecked)
                    {
                        <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="deleteRefuel(@b.Id)">
                            <i class="trash alternate icon"></i>
                        </button>
                        <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="editRefuel(@b.Id, true)">
                            <i class="highlighter icon"></i>
                        </button>
                    }
                    else
                    {
                        <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="editRefuel(@b.Id, false)">
                            <i class="search icon"></i>
                        </button>
                    }
                    <div class="meta">
                        @b.Date
                    </div>
                    @if (b.WrongMileage)
                    {
                        <div class="description">
                            Пробег: @b.Mileage км&nbsp;<span data-tooltip="Неправильный пробег"><i class="exclamation orange triangle icon"></i></span>
                        </div>
                    }
                    else
                    {
                        <div class="description">
                            Пробег: @b.Mileage км
                        </div>
                    }
                    <div class="description">
                        @b.Volume литров @b.Fuel
                        @if (b.FullTank != false)
                        {
                            <div class="ui circular green basic icon label myPopupClass" data-content="Полный бак">
                                <i class="gas pump icon"></i>
                            </div>
                        }
                        @if (b.ForgotRecordPreviousGasStation != false)
                        {
                            <div class="ui circular green basic icon label myPopupClass" data-content="Забыл внести предыдущую заправку">
                                <i class="comment slash icon"></i>
                            </div>
                        }
                    </div>
                    <div class="description">
                        Стоимость: @b.Cost руб. (@b.PricePerOneLiter руб/л)
                    </div>
                </div>
            </div>
        </div>
    </div>
}


