@model CarNotes.CnDb.RefuelEvent
    <div class="form">
        @using (Html.BeginForm())
        {
            <p>Дата: @Html.TextBoxFor(x => x.Date)</p>
            <p>Пробег: @Html.TextBoxFor(x => x.Mileage)</p>
            <p>Тип топлива: @Html.TextBoxFor(x => x.Fuel)</p>
            <p>АЗС: @Html.TextBoxFor(x => x.Station)</p>
            <p>Объем: @Html.TextBoxFor(x => x.Volume)</p>
            <p>Цена: @Html.TextBoxFor(x => x.PricePerOneLiter)</p>
            <p>Полный бак @Html.CheckBoxFor(x => x.FullTank)</p>
            <p>Забыл внести предыдущие данные @Html.CheckBoxFor(x => x.ForgotRecordPreviousGasStation)</p>
            <input type="submit" value="Сохранить данные" class="button" />
        }

    </div>
       
