@model List<CarNotes.Models.RefuelModel>
@using CarNotes.Classes;

<div>
    <table>
        <caption class="nameTable" style="background-color:@Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name))">@ViewBag.Name</caption>
        <tr>
            <th>Дата</th>
            <th>Пробег</th>
            <th>Тип топлива</th>
            <th>АЗС</th>
            <th>Объем</th>
            <th>Цена(1 литр)</th>
            <th>Полный бак</th>
            <th>Забыл внести предыдущую заправку</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (CarNotes.Models.RefuelModel b in Model)
        {
    <tr>
        <td>@b.Date</td>
        <td>@b.Mileage</td>
        <td>@b.Fuel</td>
        <td>@b.Station</td>
        <td>@b.Volume</td>
        <td>@b.PricePerOneLiter</td>
        <td>@b.FullTank</td>
        <td>@b.ForgotRecordPreviousGasStation</td>
        <td><input type="submit" value="&#9998" onclick="editRefuel(@b.Id)" /></td>
        <td><input type="submit" value="&#10008" onclick="deleteRefuel(@b.Id)"/></td>
    </tr>
        }

    </table>
</div>
