@using CarNotes.Classes;
@using CarNotes.Models;
@using CarNotes.Enums;
@using Microsoft.AspNet.Identity;
@{
    Layout = null;
    var userHelper = new AuthHelper(Context);
    var userId = userHelper.AuthenticationManager.User.Identity.GetUserId();
    var userName = userHelper.GetName(userId);
    var lastVisit = new HomeHelper().GetLastVisit(userId);
    List<LastEventModel> lastEvents = (new HomeHelper()).GetLastEvents();
    var amountVehicles = new HomeHelper().GetAmountVehicles();
    var amountUsers = new HomeHelper().GetAmountUsers();
    var amountRepairEvents = new HomeHelper().GetAmountRepairEvents();
    var amountRefuelEvents = new HomeHelper().GetAmountRefuelEvents();
    var activeUsers = new HomeHelper().GetActiveUsers();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Записки автомобилиста</title>
    <link rel="stylesheet" href="~/Styles/semantic.min.css" />
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <script src="@Url.Content("~/Content/Main.js")"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/semantic.min.js"></script>
</head>
<body>
    <div class="ui vertical fitted segment">
        <div class="imageHome">
            <div class="filler"></div>
            <div class="ui container">
                <div class="container cn header home">
                    <div id="logo">
                        <img src="~/Content/logo_small.png" class="image" />
                    </div>
                    <div id="logo-text">
                        Записки<br />
                        Автомобилиста
                    </div>
                    <div class="userInfo home">
                        @if (!ViewBag.IsAuthenticated)
                        {
                            <p class="userName home"><a href="@Url.Content("~/Login/Index")"><i class="user circle outline icon"></i>Войти</a></p>
                        }
                        else
                        {
                            <p class="userName home" onclick="goToCommonTable()"><i class="user circle outline icon"></i>@userName <a href="@Url.Content("~/Login/LogOut")" class="exit" data-title="Выйти"><i class="sign in alternate icon"></i></a></p>
                        }
                    </div>
                </div>
                <div class="headerText">
                    <h1>Дневник твоего автомобиля</h1>
                    <p>
                        <h3>
                            Учет и контроль расходов на свой автомобиль: заправки, ремонты, расходы.
                        </h3>
                    </p>
                    @if (ViewBag.IsAuthenticated)
                    {
                        <button class="ui teal large login button" onclick="goToCommonTable()">Войти в личный кабинет</button>
                    }
                    else
                    {
                        <button class="ui teal large login button" onclick="goToRegisterPage()">Создать новый аккаунт</button>
                    }
                </div>

            </div>
        </div>
    </div>
    <div class="full height">
        <div class="ui vertical padded segment">
            <div class="ui container">
                <div class="ui stackable grid">
                    <div class="eight wide column">
                        <div class="column centered row">
                            <p><h3>Последние события</h3></p>
                        </div>
                        <div class="column centered row">
                            <table class="ui celled table unstackable">
                                <thead>
                                    <tr>
                                        <th>Тип</th>
                                        <th>Автомобиль</th>
                                        <th>Дата</th>
                                        <th>Стоимость</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < lastEvents.Count; i++)
                                    {
                                        <tr>
                                            <td data-label="Тип">
                                                @if (lastEvents[i].Record == RecordType.Refuel)
                                                {
                                                    <span data-tooltip="Заправка">
                                                        <i class="circular gas pump icon link"></i>
                                                    </span>
                                                }
                                                else if (lastEvents[i].Record == RecordType.Repair)
                                                {
                                                    <span data-tooltip="Ремонт">
                                                        <i class="circular tools icon link"></i>
                                                    </span>
                                                }
                                                else if (lastEvents[i].Record == RecordType.Expense)
                                                {
                                                    <span data-tooltip="Расход">
                                                        <i class="circular credit card outline icon link"></i>
                                                    </span>
                                                }
                                            </td>
                                            <td data-label="Автомобиль"><a href="@Url.Content("~/Common/Index?vehicleId=" + lastEvents[i].Id)">@lastEvents[i].VehicleBrand @lastEvents[i].VehicleModel</a></td>
                                            <td data-label="Дата">@lastEvents[i].Date.ToString("dd.MM.yyyy")</td>
                                            <td data-label="Стоимость">@lastEvents[i].Cost</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="column centered row">
                            <p><h3>Самые активные пользователи за месяц</h3></p>
                        </div>
                        <div class="column centered row">
                            <div class="two column">
                                <table class="ui celled table unstackable">
                                    <thead>
                                        <tr>
                                            <th>Пользователь</th>
                                            <th>Автомобиль</th>
                                            <th>
                                                <span class="hide-on-mobile">Заправки</span>
                                                <span data-tooltip="Заправка" class="mobile-only">
                                                    <i class="circular gas pump icon link"></i>
                                                </span>
                                            </th>
                                            <th>
                                                <span class="hide-on-mobile">Ремонты</span>
                                                <span data-tooltip="Ремонт" class="mobile-only">
                                                    <i class="circular tools icon link"></i>
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < activeUsers.Count; i++)
                                        {
                                            <tr>
                                                <td data-label="Пользователь">
                                                    @activeUsers[i].Name
                                                </td>
                                                <td data-label="Автомобиль">
                                                    <a href="@Url.Content("~/Common/Index?vehicleId=" + @activeUsers[i].VehicleId)">@activeUsers[i].Brand  @activeUsers[i].Model</a>
                                                </td>
                                                <td data-label="Заправки">
                                                    @activeUsers[i].refuelEvents
                                                </td>
                                                <td data-label="Ремонты">
                                                    @activeUsers[i].repairEvents
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui vertical padded segment">
            <div class="ui justified text container">
                <h2 style="font-variant: small-caps;">Записки автомобилиста</h2>
                Приветствуем вас на нашем сайте. Здесь вы можете вести дневник вашего автомобиля:
                учитывать расходы, ремонты и заправки.
                Наш проект достаточно молодой и далеко не все еще реализовано. В будущем мы планируем
                добавить все необходимое для ведения учета и анализа своих затрат на автомобиль.
                Если у вас появятся идеи или замечания при использовании нашего сайта -
                вы можете оставить их в специальной форме "Отзывы и предложения", мы их обязательно учтем.
                Наша цель - простота и удобство в использовании нашего продукта.
            </div>
            <div class="ui center aligned home down container">
                @if (ViewBag.IsAuthenticated)
                {
                    <button class="ui teal large down home button" onclick="goToCommonTable()">Войти в личный кабинет</button>
                }
                else
                {
                    <button class="ui teal large down home button" onclick="goToRegisterPage()">Создать новый аккаунт</button>
                }
            </div>


        </div>
    </div>

    <div class="ui vertical inverted segment" style="flex: 0 0 auto">
        <div class="ui container">
            <div class="ui stackable grid footer">
                <div class="six wide column">2022 Записки автомобилиста</div>
                <div class="four wide column"> </div>
                <div class="six wide column">nararock@mail.ru</div>
            </div>
        </div>
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(88884976, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/88884976" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</body>
</html>
