@using CarNotes.Classes;
@using CarNotes.Models;
@using CarNotes.Enums;
@using Microsoft.AspNet.Identity;
@{
    Layout = null;
    var userHelper = new AuthHelper(Context);
    var userId = userHelper.AuthenticationManager.User.Identity.GetUserId();
    var userName = userHelper.GetName(userId);
    var lastVisit = new HomeHelper().GetLastVisit(userId);
    List<LastEventModel> lastEvents = (new HomeHelper()).GetLastEvents();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Записки автомобилиста</title>
    <link rel="stylesheet" href="~/Styles/semantic.min.css" />
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <script src="@Url.Content("~/Content/Main.js")"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/semantic.min.js"></script>
</head>
<body>
    <div class="imageHome">
        <div class="filler"></div>
        <div class="ui container">
            <div class="container cn header home">
                <div id="logo">
                    <img src="~/Content/logo_small.png" class="image" />
                </div>
                <div id="logo-text">
                    Записки<br />
                    Автомобилиста
                </div>
                <div class="userInfo home">
                    @if (!ViewBag.IsAuthenticated)
                    {
                        <p class="userName home"><a href="@Url.Content("~/Login/Index")"><i class="user circle outline icon"></i></a></p>
                    }
                    else
                    {
                        <p class="userName home" onclick="goToCommonTable()"><i class="user circle outline icon"></i>@userName <a href="@Url.Content("~/Login/LogOut")" class="exit" data-title="Выйти"><i class="sign in alternate icon"></i></a></p>
                    }
                </div>
            </div>
            <div class="headerText">
                <h1>Дневник твоего автомобиля</h1>
                <p>
                    <h3>
                        Регистрируйся.<br /><br /> &nbsp &nbsp Добавляй свой траснпорт.<br /><br /> &nbsp &nbsp &nbsp И веди статистику расходов:
                        <br /><br /> &nbsp &nbsp &nbsp &nbsp на заправки, ремонты, налоги, техосмотры и т.д.
                    </h3>
                </p>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="container">
            <div class="ui column centered grid">
                <div class="column centered row">
                    <p><h3>Последние события</h3></p>
                </div>
                <div class="column centered row">
                    <div class="two column">
                        <table class="ui celled table unstackable">
                            <thead>
                                <tr>
                                    <th>Тип</th>
                                    <th>Автомобиль</th>
                                    <th>Дата</th>
                                    <th>Стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < lastEvents.Count; i++)
                                {
                                    <tr>
                                        <td data-label="Тип">
                                            @if (lastEvents[i].Record == RecordType.Refuel)
                                            {
                                                <span data-tooltip="Заправка">
                                                    <i class="circular gas pump icon link"></i>
                                                </span>
                                            }
                                            else if (lastEvents[i].Record == RecordType.Repair)
                                            {
                                                <span data-tooltip="Ремонт">
                                                    <i class="circular tools icon link"></i>
                                                </span>
                                            }
                                            else if (lastEvents[i].Record == RecordType.Expense)
                                            {
                                                <span data-tooltip="Расход">
                                                    <i class="circular credit card outline icon link"></i>
                                                </span>
                                            }
                                        </td>
                                        <td data-label="Автомобиль">@lastEvents[i].VehicleBrand @lastEvents[i].VehicleModel</td>
                                        <td data-label="Дата">@lastEvents[i].Date.ToString("dd.MM.yyyy")</td>
                                        <td data-label="Стоимость">@lastEvents[i].Cost</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
