@model List<CarNotes.Models.CommonModel>
@using CarNotes.Classes;
@{
    Layout = "../Shared/_TableTemplate.cshtml";
    var userHelper = new AuthHelper(Context);
    var isVerified = userHelper.AuthenticationManager.User.Identity.IsAuthenticated;
}
<div class="hide-on-mobile">
    <table class="ui selectable @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) unstackable table ">
        <caption>@ViewBag.Name</caption>
        <thead>
            <tr>
                <th>Тип записи</th>
                <th>Дата</th>
                <th>Пробег</th>
                <th>Стоимость</th>
                @if (isVerified)
                {
                    <th style="width:0"></th>
                    <th style="width:0"></th>
                }
                else
                {
                    <th style="width:0"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @if (item.Record == CarNotes.Enums.RecordType.Refuel)
                    {
                        @:Заправка
                    }
                    else
                    {
                        @:Ремонт
                    }
                </td>
                <td>@item.Date</td>
                <td>@item.Mileage</td>
                <td>@item.Cost</td>
                @if (isVerified)
                {
                    <td><input type="button" value="&#9998" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="editCommon('@item.Record', @item.Id)" /></td>
                    <td><input type="button" value="&#10008" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="deleteCommon('@item.Record', @item.Id)" /></td>
                }
                else
                {
                    <td><input type="button" value="&#128269" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="showCommon('@item.Record', @item.Id)" /></td>
                }
            </tr>
            }

        </tbody>
    </table>
</div>
@foreach (var item in Model)
{
    <div class=" ui grid  mobile-only" style="margin-bottom:-2rem">
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="deleteCommon('@item.Record', @item.Id)">
                        <i class="trash alternate icon"></i>
                    </button>
                    <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="editCommon('@item.Record', @item.Id)">
                        <i class="highlighter icon"></i>
                    </button>
                    <div class="header">
                        @if (item.Record == CarNotes.Enums.RecordType.Refuel)
                        {
                            @:Заправка
                        }
                        else
                        {
                            @:Ремонт
                        }
                    </div>
                    <div class="meta">
                        @item.Date
                    </div>
                    <div class="description">
                        Пробег: @item.Mileage км
                    </div>
                    <div class="description">
                        Стоимость: @item.Cost руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
}




