@using CarNotes.Classes;
@model List<CarNotes.Models.ExpenseModel>
    @{
        Layout = "../Shared/_TableTemplate.cshtml";
    }

    <div>
        <table class="ui selectable @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) unstackable table hide-on-mobile">
            <caption>@ViewBag.Name</caption>
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Тип расходов</th>
                    <th>Сумма расходов</th>
                    <th>Описание</th>
                    <th>Комментарий</th>
                    @if (ViewBag.IsChecked)
                    {
                        <th style="width:0"></th>
                        <th style="width:0"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (CarNotes.Models.ExpenseModel e in Model)
                {
                <tr>
                    <td>@e.Date</td>
                    <td>@e.Type</td>
                    <td>@e.Sum</td>
                    <td>@e.Description</td>
                    <td>@e.Comment</td>
                    @if (ViewBag.IsChecked)
                    {
                        <td><input type="button" value="&#9998" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="editExpense(@e.Id)" /></td>
                        <td><input type="button" value="&#10008" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" @*onclick="deleteExpense()"*@ /></td>
                    }
                </tr>
                }
            </tbody>
            </table>
        </div>
