@using CarNotes.Classes;
@using CarNotes.Models
@model CarNotes.Models.PageExpenseTable
@{
    Layout = "../Shared/_TableTemplate.cshtml";
    var color = new LinkMenuHelper().getColor(ViewBag.Name);
}

<div>
    <table class="ui selectable @color unstackable table hide-on-mobile">
        <caption>@ViewBag.Name</caption>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Пробег</th>
                <th>Тип расходов</th>
                <th>Сумма расходов</th>
                <th>Описание</th>
                <th>Комментарий</th>
                @if (ViewBag.IsChecked)
                {
                    <th style="width:0"></th>
                    <th style="width:0"></th>
                }
                else
                {
                    <th style="width:0"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (ExpenseModel e in Model.PageList)
            {
                <tr>
                    <td>@e.Date</td>
                    @if (e.WrongMileage)
                    {
                        <td>@e.Mileage&nbsp;<span data-tooltip="Неправильный пробег"><i class="exclamation orange triangle icon"></i></span></td>
                    }
                    else
                    {
                        <td>@e.Mileage</td>
                    }
                    <td>@e.Type</td>
                    <td>@e.Sum.ToString("#")</td>
                    <td>@e.Description</td>
                    <td>@e.Comment</td>
                    @if (ViewBag.IsChecked)
                    {
                        <td><input type="button" value="&#9998" class="ui icon tiny @color basic button" onclick="editExpense(@e.Id, true)" /></td>
                        <td><input type="button" value="&#10008" class="ui icon tiny @color basic button" onclick="deleteExpense(@e.Id)" /></td>
                    }
                    else
                    {
                        <td><input type="button" value="&#128269" class="ui icon tiny @color basic button" onclick="editExpense(@e.Id, false)" /></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@foreach (ExpenseModel e in Model.PageList)
{
    <div class=" ui grid" style="margin-bottom:-2rem">
        <div class="column">
            <div class="ui fluid card mobile-only">
                <div class="content">
                    <div class="header">
                        @e.Type
                    </div>
                    @if (ViewBag.IsChecked)
                    {
                        <button class="circular ui @color basic right floated icon button" onclick="deleteExpense(@e.Id)">
                            <i class="trash alternate icon"></i>
                        </button>
                        <button class="circular ui @color basic right floated icon button" onclick="editExpense(@e.Id, true)">
                            <i class="highlighter icon"></i>
                        </button>
                    }
                    else
                    {
                        <button class="circular ui @color basic right floated icon button" onclick="editExpenser(@e.Id, false)">
                            <i class="search icon"></i>
                        </button>
                    }
                    <div class="meta">
                        @e.Date
                    </div>
                    @if (e.WrongMileage)
                    {
                        <div class="description">
                            Пробег: @e.Mileage&nbsp;<span data-tooltip="Неправильный пробег"><i class="exclamation orange triangle icon"></i></span>
                        </div>
                    }
                    else
                    {
                        <div class="description">
                            Пробег: @e.Mileage
                        </div>
                    }
                    <div class="description">
                        Стоимость: @e.Sum.ToString("#")
                    </div>
                    <div class="description">
                        Описание: @e.Description
                    </div>
                    <div class="description">
                        Комментарий: @e.Comment
                    </div>
                </div>
            </div>
        </div>
    </div>
}
