@model List<CarNotes.Models.RepairModel>
@using CarNotes.Classes;
@{
    Layout = "../Shared/_TableTemplate.cshtml";
    var userHelper = new AuthHelper(Context);
    var isVerified = userHelper.AuthenticationManager.User.Identity.IsAuthenticated;
}
<div>
    <table class="ui selectable @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) unstackable table hide-on-mobile">
        <caption>@ViewBag.Name</caption>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Пробег</th>
                <th>Ремонт</th>
                <th>Сервис</th>
                <th>Стоимость работ</th>
                <th>Комментарии</th>
                @if (isVerified)
                {
                    <th style="width:0"></th>
                    <th style="width:0"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (CarNotes.Models.RepairModel b in Model)
            {
            <tr>
                <td>@b.Date</td>
                <td>@b.Mileage</td>
                <td>@b.Repair</td>
                <td>@b.CarService</td>
                <td>@b.RepairCost</td>
                <td>@b.Comments</td>
                @if (isVerified)
                {
                    <td><input type="button" value="&#9998" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="editRepair(@b.Id)" /></td>
                    <td><input type="button" value="&#10008" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="deleteRepair(@b.Id)" /></td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>
@foreach (CarNotes.Models.RepairModel b in Model)
{
    <div class=" ui grid" style="margin-bottom:-2rem">
        <div class="column">
            <div class="ui fluid card mobile-only">
                <div class="content">
                    <div class="header">
                        @b.Repair
                    </div>
                    <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="deleteRepair(@b.Id)">
                        <i class="trash alternate icon"></i>
                    </button>
                    <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="editRepair(@b.Id)">
                        <i class="highlighter icon"></i>
                    </button>
                    <div class="meta">
                        @b.Date
                    </div>
                    <div class="description">
                        Пробег: @b.Mileage км
                    </div>
                    <div class="description">
                        Сервис: @b.CarService
                    </div>
                    <div class="description">
                        Стоимость: @b.RepairCost руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
}


