@model CarNotes.Models.PageRepairTable
@using CarNotes.Models
@using CarNotes.Classes;
@{
    Layout = "../Shared/_TableTemplate.cshtml";
    var userHelper = new AuthHelper(Context);
}
<div>
    <table class="ui selectable @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) unstackable table hide-on-mobile">
        <caption>@ViewBag.Name</caption>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Пробег</th>
                <th>Ремонт</th>
                <th>Сервис</th>
                <th>Стоимость работ</th>
                <th>Комментарии</th>
                @if (ViewBag.IsChecked)
                {
                    <th style="width:0"></th>
                    <th style="width:0"></th>
                }
                else
                {
                    <th style="width:0"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (RepairModel b in Model.PageList)
            {
                <tr>
                    <td>@b.Date</td>
                    @if (b.WrongMileage)
                    {
                        <td>@b.Mileage&nbsp;<span data-tooltip="Неправильный пробег"><i class="exclamation orange triangle icon"></i></span></td>
                    }
                    else
                    {
                        <td>@b.Mileage</td>
                    }
                    <td>@b.Repair</td>
                    <td>@b.CarService</td>
                    <td>@b.RepairCost</td>
                    <td>@b.Comments</td>
                    @if (ViewBag.IsChecked)
                    {
                        <td><input type="button" value="&#9998" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="editRepair(@b.Id, true)" /></td>
                        <td><input type="button" value="&#10008" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="deleteRepair(@b.Id)" /></td>
                    }
                    else
                    {
                        <td><input type="button" value="&#128269" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="editRepair(@b.Id, false)" /></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@foreach (RepairModel b in Model.PageList)
{
    <div class=" ui grid mobile-only" >
        <div class="column">
            <div class="ui fluid card">
                <div class="content">
                    <div class="header">
                        @b.Repair
                    </div>
                    @if (ViewBag.IsChecked)
                    {
                        <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="deleteRepair(@b.Id)">
                            <i class="trash alternate icon"></i>
                        </button>
                        <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="editRepair(@b.Id, true)">
                            <i class="highlighter icon"></i>
                        </button>
                    }
                    else
                    {
                        <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="editRepair(@b.Id, false)">
                            <i class="search icon"></i>
                        </button>
                    }
                    <div class="meta">
                        @b.Date
                    </div>
                    @if (b.WrongMileage)
                    {
                        <div class="description">
                            Пробег: @b.Mileage км&nbsp;<span data-tooltip="Неправильный пробег"><i class="exclamation orange triangle icon"></i></span>
                        </div>
                    }
                    else
                    {
                        <div class="description">
                            Пробег: @b.Mileage км
                        </div>
                    }
                    <div class="description">
                        Сервис: @b.CarService
                    </div>
                    <div class="description">
                        Стоимость: @b.RepairCost руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
}


