@model List<CarNotes.Models.VehicleModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        /*всплывающая форма создания события*/
        .Add {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .form {
            width: 600px;
            border: 1px solid grey;
            background-color: floralwhite;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            margin-bottom: 30px;
            text-align: center;
        }
    </style>
    <script>
        function up() {
            elem = document.getElementsByClassName('Add');
            elem[0].style.display = "inline-block";
        }
    </script>
</head>
<body>
    <input type="button" value="Добавить новое транспортное средство" class="button" onclick="up()"/>
    <div class="Add">@Html.Partial("Add", new CarNotes.CnDb.Vehicle())</div>
    <div>
        @if (Model.Count > 0)
        {
            <table>
                <tr>
                    <th>Марка</th>
                    <th>Модель</th>
                    <th>Год выхода</th>
                    <th>Цвет</th>
                    <th>Кузов</th>
                </tr>
                @foreach (var element in Model)
                {
                    <tr>
                        <td>@element.Brand</td>
                        <td>@element.Model</td>
                        <td>@element.ReleaseYear</td>
                        <td>@element.Color</td>
                        <td>@element.Body</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>У вас не добавлено ни одного транспортного средства.</p>
        }
    </div>
</body>
</html>
