@using CarNotes.Classes
@model List<CarNotes.Models.VehicleModel>
@{
    Layout = "../Shared/_TableTemplate.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<link rel="stylesheet" href="~/Styles/Main.css">*@
    <style>
        /*всплывающая форма создания события*/
        .Add {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }       
    </style>
    <script src="@Url.Content("~/Content/Main.js")"></script>
</head>
<body>
    @*<input type="button" value="Добавить новое транспортное средство" class="button" onclick="up()"/>*@
    <div class="ui mini modal" id="AddVehicle">@Html.Partial("Add", new CarNotes.CnDb.Vehicle())</div>
    <div>
        @if (Model.Count > 0)
        {
            <table class="ui selectable @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) table ">
                <caption>@ViewBag.Name</caption>
                <thead>
                    <tr>
                        <th>Марка</th>
                        <th>Модель</th>
                        <th>Год выхода</th>
                        <th>Цвет</th>
                        <th>Кузов</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var element in Model)
                    {
                        <tr>
                            <td>@element.Brand</td>
                            <td>@element.Model</td>
                            <td>@element.ReleaseYear</td>
                            <td>@element.Color</td>
                            <td>@element.Body</td>
                            <td><input type="button" class="ui icon tiny @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" value = &#10008 onclick="deleteVehicle(@element.Id)" /></td>
                        </tr>
                    }
                </tbody>               
            </table>
        }
        else
        {
            <p>У вас не добавлено ни одного транспортного средства.</p>
        }
    </div>
</body>
</html>
