@using CarNotes.Classes;
@using CarNotes.Models;
@using Microsoft.AspNet.Identity;
@{
    var userHelper = new AuthHelper(Context);
    var isVerified = userHelper.AuthenticationManager.User.Identity.IsAuthenticated;
    var userName = userHelper.GetName(userHelper.AuthenticationManager.User.Identity.GetUserId());
    var vehicles = new VehicleHelper().GetVehicles(Context);
    List<LinkMenuModel> menu = new LinkMenuHelper().get(ViewBag.Name);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>_BasicTemplateNew</title>
    <link rel="stylesheet" href="~/Styles/semantic.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/semantic.min.js"></script>
    <script src="@Url.Content("~/Content/cookie.min.js")"></script>
    <script src="@Url.Content("~/Content/Main.js")"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    @RenderSection("styles", false)
    <style>

        /*стили для header (верхней части)*/
        .container {
            height: 100px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
        }

        #logo > img {
            width: 80px;
            height: 92px;
        }

        #logo-text {
            font-variant: small-caps;
            margin-left: 8px;
            font-size: 16px;
            padding-bottom: 7px;
        }

        .image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .navigation {
            flex-grow: 1;
        }

            .navigation ul {
                display: flex;
                justify-content: center;
                flex-flow: row nowrap;
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .navigation li {
                margin-right: 30px;
            }

                .navigation li:last-child {
                    margin-right: 0;
                }

            .navigation a {
                padding: 8px 10px;
            }

            .navigation:hover a {
            }

        .userInfo {
            flex-direction: column;
            width: 200px;
            height: 100px;
            padding-right: 0;
        }

        .exit:hover::after {
            content: attr(data-title);
        }

        /*стили для content (для средней части, контента)*/
        .content {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
        }

        .userName {
            margin-top: 0.5em !important;
            margin-bottom: 0.5em
        }

        /* Стили для мобильных телефонов */
        @@media screen and (max-width: 767.98px) {
            .large-monitor-only,
            .small-monitor-only,
            .tablet-only {
                display: none !important;
            }

            #logo > img {
                width: 53px;
                height: 61px;
            }

            #logo-text {
                margin-left: 6px;
                font-size: 14px;
                padding-bottom: 2px;
            }
        }
        /* Стили для планшетов */
        @@media only screen and (min-width: 768px) and (max-width: 991.98px) {
            .large-monitor-only,
            .small-monitor-only,
            .mobile-only {
                display: none !important;
            }

            #logo > img {
                width: 53px;
                height: 61px;
            }

            #logo-text {
                margin-left: 6px;
                font-size: 14px;
                padding-bottom: 5px;
            }

            .userInfo {
                flex-direction: column;
                width: 180px;
                height: 100px;
                padding-right: 0;
                font-size: 13px;
            }

            .userName {
                margin-top: 1em !important;
            }
        }
        /* Стили для небольших экранов */
        @@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
            .large-monitor-only,
            .tablet-only,
            .mobile-only {
                display: none !important;
            }
        }
        /* Стили для больших экранов */
        @@media only screen and (min-width: 1200px) {
            .small-monitor-only,
            .tablet-only,
            .mobile-only {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <div class="ui container large-monitor-only">
        <div class="container">
            <div id="logo">
                <img src="~/Content/logo_small.png" class="image" />
            </div>
            <div id="logo-text">
                Записки<br />
                Автомобилиста
            </div>
            <nav class="navigation">
                <ul>
                    @foreach (CarNotes.Models.LinkMenuModel l in menu)
                    {
                        <li><a href="@Url.Content(l.MethodLink)" class="link large ui @l.Color tertiary button">@l.NameLink</a></li>
                    }
                </ul>
            </nav><div class="userInfo">
                @if (!isVerified)
                {
                    <p class="topLetters"><a href="@Url.Content("~/Registration/Index")">Зарегистрироваться</a></p>
                    <p class="topLetters"><a href="@Url.Content("~/Login/Index")">Вход</a></p>
                }
                else
                {
                    <p class="userName"><i class="user circle outline icon"></i>@userName <a href="@Url.Content("~/Login/LogOut")" class="exit" data-title="Выйти"><i class="sign in alternate icon"></i></a></p>
                    @*<p class="exit" data-title="Выйти"></p>*@

                    <div>
                        @if (vehicles.Count >= 1)
                        {
                            if (vehicles.Count == 1)
                            {
                                <i class="car side icon"></i><strong>@vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear</strong>
                            }
                            else
                            {
                                <i class="car side icon"></i>
                                <div class="ui inline dropdown vehicleSelect" size="1">
                                    <div class="text">
                                        @vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear
                                    </div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        @foreach (var element in vehicles)
                                        {
                                            <div class="item" data-value="@element.Id" onclick="changeData(@element.Id)">
                                                @element.Brand @element.Model @element.ReleaseYear
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="ui container small-monitor-only">
        <div class="container">
            <div id="logo">
                <img src="~/Content/logo_small.png" class="image" />
            </div>
            <div id="logo-text">
                Записки<br />
                Автомобилиста
            </div>
            <nav class="navigation">
                <ul>
                    @foreach (CarNotes.Models.LinkMenuModel l in menu)
                    {
                        <li><a href="@Url.Content(l.MethodLink)" class="link large ui @l.Color tertiary button">@l.NameLink</a></li>
                    }
                </ul>
            </nav><div class="userInfo">
                @if (!isVerified)
                {
                    <p class="topLetters"><a href="@Url.Content("~/Registration/Index")">Зарегистрироваться</a></p>
                    <p class="topLetters"><a href="@Url.Content("~/Login/Index")">Вход</a></p>
                }
                else
                {
                    <p class="userName"><i class="user circle outline icon"></i>@userName <a href="@Url.Content("~/Login/LogOut")" class="exit" data-title="Выйти"><i class="sign in alternate icon"></i></a></p>
                    @*<p class="exit" data-title="Выйти"></p>*@

                  <div>
                      @if (vehicles.Count >= 1)
                      {
                          if (vehicles.Count == 1)
                          {
                              <i class="car side icon"></i><strong>@vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear</strong>
                          }
                          else
                          {
                              <i class="car side icon"></i>
                              <div class="ui inline dropdown vehicleSelect" size="1">
                                  <div class="text">
                                      @vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear
                                  </div>
                                  <i class="dropdown icon"></i>
                                  <div class="menu">
                                      @foreach (var element in vehicles)
                                      {
                                          <div class="item" data-value="@element.Id" onclick="changeData(@element.Id)">
                                              @element.Brand @element.Model @element.ReleaseYear
                                          </div>
                                      }
                                  </div>
                              </div>
                          }
                      }
                  </div>
                }
            </div>
        </div>
    </div>
    <div class="ui container tablet-only">
        <div class="container">
            <div id="logo">
                <img src="~/Content/logo_small.png" class="image" />
            </div>
            <div id="logo-text">
                Записки<br />
                Автомобилиста
            </div>
            <nav class="navigation">
                <ul>
                    @foreach (CarNotes.Models.LinkMenuModel l in menu)
                    {
                        <li><a href="@Url.Content(l.MethodLink)" class="link ui @l.Color tertiary button">@l.NameLink</a></li>
                    }
                </ul>
            </nav><div class="userInfo">
                @if (!isVerified)
                {
                    <p class="topLetters"><a href="@Url.Content("~/Registration/Index")">Зарегистрироваться</a></p>
                    <p class="topLetters"><a href="@Url.Content("~/Login/Index")">Вход</a></p>
                }
                else
                {
                    <p class="userName"><i class="user circle outline icon"></i>@userName <a href="@Url.Content("~/Login/LogOut")" class="exit" data-title="Выйти"><i class="sign in alternate icon"></i></a></p>
                    @*<p class="exit" data-title="Выйти"></p>*@

                  <div>
                      @if (vehicles.Count >= 1)
                      {
                          if (vehicles.Count == 1)
                          {
                              <i class="car side icon"></i><strong>@vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear</strong>
                          }
                          else
                          {
                              <i class="car side icon"></i>
                              <div class="ui inline dropdown vehicleSelect" size="1">
                                  <div class="text">
                                      @vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear
                                  </div>
                                  <i class="dropdown icon"></i>
                                  <div class="menu">
                                      @foreach (var element in vehicles)
                                      {
                                          <div class="item" data-value="@element.Id" onclick="changeData(@element.Id)">
                                              @element.Brand @element.Model @element.ReleaseYear
                                          </div>
                                      }
                                  </div>
                              </div>
                          }
                      }
                  </div>
                }
            </div>
        </div>
    </div>
    <div id="mobile-header" class="ui container mobile-only">
        <div class="ui text menu">
            <div class="item">
                <div id="logo">
                    <img class="ui small image" src="~/Content/logo_small.png" />
                </div>
                <div id="logo-text">
                    Записки<br />
                    Автомобилиста
                </div>
            </div>
            <div class="right menu">
                <div class="ui icon dropdown item">
                    <i class="bars large icon"></i>
                    <div class="menu">
                        @foreach (CarNotes.Models.LinkMenuModel l in menu)
                        {
                            <a href="@Url.Content(l.MethodLink)" class="item">@l.NameLink</a>
                        }
                        <div class="divider"></div>
                        <div class="item"><i class="user circle outline icon"></i>@userName</div>
                        @if (vehicles.Count > 0)
                        {
                            <div class="item vehicleSelect" size="1">
                                <i class="dropdown icon"></i><div class="text">
                                    @vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear
                                </div>
                                <div class="menu">
                                    @foreach (var element in vehicles)
                                    {
                                        <div class="item" data-value="@element.Id" onclick="changeData(@element.Id)">
                                            @element.Brand @element.Model @element.ReleaseYear
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <a class="item" href="@Url.Content("~/Login/LogOut")">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        @RenderBody()
    </div>
</body>
</html>
