@using CarNotes.Classes;
@using CarNotes.Models;
@using Microsoft.AspNet.Identity;
@{
    var userHelper = new AuthHelper(Context);
    var isVerified = userHelper.AuthenticationManager.User.Identity.IsAuthenticated;
    var userName = userHelper.GetName(userHelper.AuthenticationManager.User.Identity.GetUserId());
    var vehicles = new VehicleHelper().GetVehicles((int?)ViewBag.VehicleId);
    List<LinkMenuModel> menu = new LinkMenuHelper().get(ViewBag.Name);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Записки автомобилиста</title>
    <link rel="stylesheet" href="~/Styles/semantic.min.css" />
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/semantic.min.js"></script>
    <script src="@Url.Content("~/Content/cookie.min.js")"></script>
    <script src="@Url.Content("~/Content/Main.js")"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="ui container large-monitor-only">
        <div class="container cn header">
            <div id="logo" onclick="goToHomePage()">
                <img src="~/Content/logo_small.png" class="image" />
            </div>
            <div id="logo-text">
                Записки<br />
                Автомобилиста
            </div>
            <nav class="navigation">
                <ul>
                    @foreach (CarNotes.Models.LinkMenuModel l in menu)
                    {
                        if (isVerified || (!isVerified && l.NameLink != "Гараж"))
                        {
                            <li><a href="@Url.Content(l.MethodLink)?vehicleId=@ViewBag.VehicleId" class="link large ui @l.Color tertiary button">@l.NameLink</a></li>
                        }
                    }
                </ul>
            </nav><div class="userInfo">
                @if (!isVerified)
                {
                    <p class="topLetters"><a href="@Url.Content("~/Registration/Index")">Зарегистрироваться</a></p>
                    <p class="topLetters"><a href="@Url.Content("~/Login/Index")">Вход</a></p>
                }
                else
                {
                    <p class="userName"><i class="user circle outline icon"></i>@userName <a href="@Url.Content("~/Login/LogOut")" class="exit" data-title="Выйти"><i class="sign in alternate icon"></i></a></p>

                }
                <div>
                    @if (vehicles.Count >= 1)
                    {
                        if (vehicles.Count == 1)
                        {
                            <i class="car side icon"></i><strong>@vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear</strong>
                        }
                        else
                        {
                            <i class="car side icon"></i>
                            <div class="ui inline dropdown vehicleSelect" size="1">
                                <div class="text">
                                    @vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear
                                </div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    @foreach (var element in vehicles)
                                    {
                                        <div class="item" data-value="@element.Id" onclick="changeData(@element.Id)">
                                            @element.Brand @element.Model @element.ReleaseYear
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="ui container small-monitor-only">
        <div class="container cn header">
            <div id="logo" onclick="goToHomePage()">
                <img src="~/Content/logo_small.png" class="image" />
            </div>
            <div id="logo-text">
                Записки<br />
                Автомобилиста
            </div>
            <nav class="navigation">
                <ul>
                    @foreach (CarNotes.Models.LinkMenuModel l in menu)
                    {
                        if (isVerified || (!isVerified && l.NameLink != "Гараж"))
                        {
                            <li><a href="@Url.Content(l.MethodLink)?vehicleId=@ViewBag.VehicleId" class="link large ui @l.Color tertiary button">@l.NameLink</a></li>
                        }
                    }
                </ul>
            </nav><div class="userInfo">
                @if (!isVerified)
                {
                    <p class="topLetters"><a href="@Url.Content("~/Registration/Index")">Зарегистрироваться</a></p>
                    <p class="topLetters"><a href="@Url.Content("~/Login/Index")">Вход</a></p>
                }
                else
                {
                    <p class="userName"><i class="user circle outline icon"></i>@userName <a href="@Url.Content("~/Login/LogOut")" class="exit" data-title="Выйти"><i class="sign in alternate icon"></i></a></p>
                }
                <div>
                    @if (vehicles.Count >= 1)
                    {
                        if (vehicles.Count == 1)
                        {
                            <i class="car side icon"></i><strong>@vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear</strong>
                        }
                        else
                        {
                            <i class="car side icon"></i>
                            <div class="ui inline dropdown vehicleSelect" size="1">
                                <div class="text">
                                    @vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear
                                </div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    @foreach (var element in vehicles)
                                    {
                                        <div class="item" data-value="@element.Id" onclick="changeData(@element.Id)">
                                            @element.Brand @element.Model @element.ReleaseYear
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="ui container tablet-only">
        <div class="container cn header">
            <div id="logo" onclick="goToHomePage()">
                <img src="~/Content/logo_small.png" class="image" />
            </div>
            <div id="logo-text">
                Записки<br />
                Автомобилиста
            </div>
            <nav class="navigation">
                <ul>
                    @foreach (CarNotes.Models.LinkMenuModel l in menu)
                    {
                        if (isVerified || (!isVerified && l.NameLink != "Гараж"))
                        {
                            <li><a href="@Url.Content(l.MethodLink)?vehicleId=@ViewBag.VehicleId" class="link ui @l.Color tertiary button">@l.NameLink</a></li>
                        }
                    }
                </ul>
            </nav><div class="userInfo">
                @if (!isVerified)
                {
                    <p class="topLetters"><a href="@Url.Content("~/Registration/Index")">Зарегистрироваться</a></p>
                    <p class="topLetters"><a href="@Url.Content("~/Login/Index")">Вход</a></p>
                }
                else
                {
                    <p class="userName"><i class="user circle outline icon"></i>@userName <a href="@Url.Content("~/Login/LogOut")" class="exit" data-title="Выйти"><i class="sign in alternate icon"></i></a></p>

                }
                <div>
                    @if (vehicles.Count >= 1)
                    {
                        if (vehicles.Count == 1)
                        {
                            <i class="car side icon"></i><strong>@vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear</strong>
                        }
                        else
                        {
                            <i class="car side icon"></i>
                            <div class="ui inline dropdown vehicleSelect" size="1">
                                <div class="text">
                                    @vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear
                                </div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    @foreach (var element in vehicles)
                                    {
                                        <div class="item" data-value="@element.Id" onclick="changeData(@element.Id)">
                                            @element.Brand @element.Model @element.ReleaseYear
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="mobile-header" class="ui container mobile-only">
        <div class="ui text menu">
            <div class="item">
                <div id="logo" onclick="goToHomePage()">
                    <img class="ui small image" src="~/Content/logo_small.png" />
                </div>
                <div id="logo-text">
                    Записки<br />
                    Автомобилиста
                </div>
            </div>
            <div class="right menu">
                <div class="ui icon dropdown item">
                    <i class="bars large icon"></i>
                    <div class="menu">
                        @foreach (CarNotes.Models.LinkMenuModel l in menu)
                        {
                            if (isVerified || (!isVerified && l.NameLink != "Гараж"))
                            {
                                <a href="@Url.Content(l.MethodLink)?vehicleId=@ViewBag.VehicleId" class="item">@l.NameLink</a>
                            }
                        }
                        <div class="divider"></div>
                        <div class="item"><i class="user circle outline icon"></i>@userName</div>
                        @if (vehicles.Count > 0)
                        {
                            <div class="item vehicleSelect" size="1">
                                <i class="ui dropdown icon"></i><div class="text">
                                    @vehicles[0].Brand @vehicles[0].Model @vehicles[0].ReleaseYear
                                </div>
                                <div class="menu">
                                    @foreach (var element in vehicles)
                                    {
                                        <div class="item" data-value="@element.Id" onclick="changeData(@element.Id)">
                                            @element.Brand @element.Model @element.ReleaseYear
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        <a class="item" href="@Url.Content("~/Login/LogOut")">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui container">
        @RenderBody()
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
            m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(88884976, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/88884976" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <script type="text/javascript">
        var reformalOptions = {
            project_id: 985788,
            project_host: "carnotes.reformal.ru",
            tab_orientation: "left",
            tab_indent: "50%",
            tab_bg_color: "#F05A00",
            tab_border_color: "#FFFFFF",
            tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/2a94cfe6511106e7a48d0af3904e3090/left/1/tab.png",
            tab_border_width: 2
        };

        (function () {
            var script = document.createElement('script');
            script.type = 'text/javascript'; script.async = true;
            script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
            document.getElementsByTagName('head')[0].appendChild(script);
        })();
    </script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://carnotes.reformal.ru">Oтзывы и предложения для Записки автомобилиста</a></noscript>
</body>
</html>
