@using CarNotes.Classes;
@using CarNotes.Models;
@{
    List<LinkMenuModel> menu = new LinkMenuHelper().get(ViewBag.Name);
}
@{
    List<SubMenuModel> buttons = new LinkMenuHelper().getButtons(ViewBag.Name);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_BasicTemplate</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        /*верхняя часть с логотипом*/
        .top {
            margin-top:0px;
            margin-bottom: 50px;
            border-bottom: 1px solid thin lightgray;
            background-color:floralwhite;
            height:60px;
        }
        .topLetters {
            margin-right: 30px;
            margin-top: 20px;
            text-align: right;
            text-decoration:none;
        }
        .image {
            float: left;
            margin-left: 30px;
        }
        /*ссылки под логотипом*/
        .links{
            font-size: 20px;
            text-align:center;
        }

        /*таблица с данными*/
        .content {
            width: 800px;
            margin: auto;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            text-align: center;
        }
        th {
            font-weight: normal;
            padding: 10px 8px;
        }

        td {
            padding: 9px 8px;
            transition: .05s linear;
        }
        .nameTable {
            font-size: 25px;
            margin-bottom: 15px;
            border-radius: 15px;
            color: floralwhite;
        }
        th {
            border-bottom: 2px solid @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name));
        }
        tr:hover td {
            color: floralwhite;
            background-color: @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name));
        }
        /*форма для создания событий*/
        .form{
            margin-top: 40px;
            text-align:left;
        }
        /*кнопки для перехода в окно создания события*/
        .button {
            background-color: @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name));
            opacity: 0.65;
            height:25px;
            margin-top: 20px;
            display: inline-block;
            border: none;
            border-radius: 15px;
            color: floralwhite;
        }
        .buttons {
            text-align: center;
        }
        /*всплывающая форма создания события*/
        .newRefuelWindow, .newRepairWindow {
            position: absolute;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .form{
            width: 600px;
            border:1px solid grey;
            background-color: floralwhite;
            margin-left:auto;
            margin-right:auto;
            margin-top: 100px;
            margin-bottom: 30px;
            text-align:center;
        }
    </style>
    <script>
        function popup(str) {
            var elem;
            if (str == "Новый ремонт")
                elem = document.getElementsByClassName('newRefuelWindow');
            else elem = document.getElementsByClassName('newRepairWindow');
            elem[0].style.display = 'inline-block';
        }
    </script>
    @RenderSection("styles", false)
</head>
<body>
    <div class="top">
        <img src="../Content/logoCar.png" height="60" class="image" />
        <p class="topLetters"><a href="@Url.Content("~/Registration/Index")" >Зарегистрироваться</a></p>
        <p class="topLetters"><a href="@Url.Content("~/Login/Index")">Вход</a></p>
    </div>
    <div class="links">@Html.Partial("_LinkMenuTemplate", menu)</div>
    <div class="buttons">
        @foreach (SubMenuModel s in buttons)
        {
            <input type="button" value="@s.Name" class="button" onclick="popup('@s.Name')" />
        }
</div>
<div class="content">
    @RenderBody()
</div>
<div class="newRefuelWindow">@Html.Partial("CreateNewEvent", new CarNotes.CnDb.RefuelEvent())</div>
<div class="newRepairWindow">@Html.Partial("CreateNewRepairEvent", new CarNotes.CnDb.RepairEvent())</div>
<div><p >По всем вопросам пишите на почту: <br /> nararock@mail.ru</p></div>
</body>
</html>
