@using CarNotes.Models
@using CarNotes.Classes
@{
    List<SubMenuModel> buttons = new LinkMenuHelper().getButtons(ViewBag.Name);
    Layout = "../Shared/_BasicTemplateNew.cshtml";
    var color = new LinkMenuHelper().getColor(ViewBag.Name);
}
<style>
    .submenu {
        margin-bottom: 15px;
        text-align: center;
    }
</style>
@if (ViewBag.IsChecked)
{
    <div class="submenu">
        @foreach (SubMenuModel s in buttons)
        {
            <input type="button" value="@s.Name" class="ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="popup('@s.Name', @ViewBag.VehicleId)" />
        }
    </div>
}
@RenderBody()


<!--блок нумерации страниц-->
@if (Model.HasPreviousPage)
{
    <button class="ui @color basic button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @Model.PageNumber - 1)">
        <i class="angle double left icon"></i>Назад
    </button>
}
@if (Model.TotalPages > 1 && Model.TotalPages <= 10)
{
    for (var p = 1; p <= Model.TotalPages; p++)
    {
        if (p == Model.PageNumber)
        {
            <button class="ui @color button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @p)">@p</button>
        }
        else
        { <button class="ui @color basic button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @p)">@p</button>}
    }
 }
else if (Model.TotalPages > 10)
{
<button class="ui @color basic button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', 1)">Начало</button>
if (Model.PageNumber - 3 <= 1)
{
    for (var p = 1; p <= Model.PageNumber + 3; p++)
    {
        if (p == Model.PageNumber)
        {
            <button class="ui @color button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @p)">@p</button>
        }
        else
        {<button class="ui @color basic button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @p)">@p</button> }
}
<span> . . . </span>
}
else if (Model.PageNumber - 3 > 1 && Model.PageNumber <= Model.TotalPages - 4)
{
<span> . . . </span>
for (var p = Model.PageNumber - 3; p <= Model.PageNumber + 3 && p <= Model.TotalPages; p++)
{

    if (p == Model.PageNumber)
    {
        <button class="ui @color button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @p)">@p</button>
    }
    else
    {<button class="ui @color basic button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @p)">@p</button> }
}
<span> . . . </span>
}
else if (Model.PageNumber > Model.TotalPages - 4)
{
<span> . . . </span>
for (var p = Model.PageNumber - 3; p <= Model.PageNumber + 3 && p <= Model.TotalPages; p++)
{
    if (p == Model.PageNumber)
    {
        <button class="ui @color button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @p)">@p</button>
    }
    else
    {<button class="ui @color basic button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @p)">@p</button> }

}
}
<button class="ui @color basic button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @Model.TotalPages)">Конец</button>
}
@if (Model.HasNextPage)
{
    <button class="ui @color basic button" onclick="toNextPage(@ViewBag.VehicleId, '@ViewBag.Name', @Model.PageNumber + 1)">
        Вперед<i class="angle double right icon"></i>
    </button>
}

<div class="ui mini modal" id="newRefuelWindow">@Html.Partial("CreateNewRefuelEvent", new CarNotes.Models.RefuelModel())</div>
<div class="ui small modal" id="EditRepairData">@Html.Partial("RepairEdit")</div>
<div class="ui mini modal" id="EditRefuelData">@Html.Partial("RefuelEdit")</div>
<div class="ui mini modal" id="EditVehicleData">@Html.Partial("VehicleEdit")</div>
<div class="ui mini modal" id="ExpenseEdit">@Html.Partial("ExpenseEdit")</div>