@model CarNotes.Models.RefuelModel
@using CarNotes.Classes
@using CarNotes.Models
@{List<GasStationModel> gasStation = new RefuelHelper().GetGasStationsList();}
    <div class="form">
        <div class="cross" onclick="closeWindow(event)"><p>&#10008</p></div>
        @using (Html.BeginForm("CreateNewEvent", "Home"))
        {
            <p>Дата: @Html.TextBoxFor(x => x.Date, new { @class = "MyDateRangePicker" })</p>
            <p>Пробег: @Html.TextBoxFor(x => x.Mileage)</p>
            <p>Тип топлива: @Html.DropDownList("Fuel", new SelectList(new string[] { "A80", "A92", "A95", "A98" }))</p>
            <p>АЗС: @Html.DropDownListFor(x=>x.Station, new SelectList(gasStation, "Id", "Name"), new {@onchange = "changeSelectList(event)"})</p>
            <p style="display:none">Введите название АЗС: @Html.TextBoxFor(x=>x.CustomStation)</p>
            <p>Объем: @Html.TextBoxFor(x => x.Volume)</p>
            <p>Цена: @Html.TextBoxFor(x => x.PricePerOneLiter)</p>
            <p>Полный бак @Html.CheckBoxFor(x => x.FullTank)</p>
            <p>Забыл внести предыдущие данные @Html.CheckBoxFor(x => x.ForgotRecordPreviousGasStation)</p>
            <input type="submit" value="Сохранить данные" class="button" />
        }
    </div>
       
