@model CarNotes.CnDb.RepairEvent
    <div class="form">
        @using (Html.BeginForm())
        {
            <p>Дата: @Html.TextBoxFor(x => x.Date)</p>
            <p>Пробег: @Html.TextBoxFor(x => x.Mileage)</p>
            <p>Название ремонтных работ: @Html.TextBoxFor(x => x.Repair)</p>
            <p>Сервис: @Html.TextBoxFor(x => x.CarService)</p>
            <p>Стоимость ремонтных работ: @Html.TextBoxFor(x => x.RepairCost)</p>
            <p>Комментарии: @Html.TextBoxFor(x => x.Comments)</p>
            <input type="submit" value="Сохранить данные" class="button" />
        }
    </div>

