@model CarNotes.Models.RepairModel

    <div class="form">
        <div class="cross" onclick="clearEvent(event)"><p>&#10008</p></div>
        @using (Html.BeginForm("CreateNewRepairEvent", "Home", FormMethod.Post))
        {
            <p>Дата: @Html.TextBoxFor(x => x.Date, new { @class = "MyDateRangePicker" })</p>
            <p>Пробег: @Html.TextBoxFor(x => x.Mileage)</p>
            <p>Название ремонтных работ: @Html.TextBoxFor(x => x.Repair)</p>
            <p>Сервис: @Html.TextBoxFor(x => x.CarService)</p>
            <p>Стоимость ремонтных работ: @Html.TextBoxFor(x => x.RepairCost)</p>
            <p>Комментарии: @Html.TextBoxFor(x => x.Comments)</p>
            <input type="button" value="Добавить запчасть" class="button" onclick="addCarPart('newRepairWindow')" />
            <table>
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Система</th>
                        <th>Подсистема</th>
                        <th>Производитель</th>
                        <th>Артикул</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>  
            <input type="submit" value="Сохранить данные" class="button" />
        }
    </div>

