@model CarNotes.Models.PageCommonTable
@using CarNotes.Classes;
@using CarNotes.Models;
@{
    Layout = "../Shared/_TableTemplate.cshtml";
    var userHelper = new AuthHelper(Context);
    var color = new LinkMenuHelper().getColor(ViewBag.Name);
}
<div class="hide-on-mobile">
    <table class="ui selectable @color unstackable table ">
        <caption>@ViewBag.Name</caption>
        <thead>
            <tr>
                <th>Тип записи</th>
                <th>Дата</th>
                <th>Пробег</th>
                <th>Стоимость</th>
                @if (ViewBag.IsChecked)
                {
                    <th style="width:0"></th>
                    <th style="width:0"></th>
                }
                else
                {
                    <th style="width:0"></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (CommonModel item in Model.PageList)
            {
                <tr>
                    <td>
                        @if (item.Record == CarNotes.Enums.RecordType.Refuel)
                        {
                            <span>
                                Заправка
                            </span>
                        }
                        else if (item.Record == CarNotes.Enums.RecordType.Repair)
                        {
                            <span>
                                Ремонт
                            </span>
                        }
                        else
                        {
                            <span>
                                Расход
                            </span>
                        }
                    </td>
                    <td>@item.Date.ToString("dd.MM.yyyy")</td>
                    @if (item.WrongMileage)
                    {
                        <td>@item.Mileage&nbsp;<span data-tooltip="Неправильный пробег"><i class="exclamation orange triangle icon"></i></span></td>
                    }
                    else
                    {
                        <td>@item.Mileage</td>
                    }
                    <td>@item.Cost</td>
                    @if (ViewBag.IsChecked)
                    {
                        <td><input type="button" value="&#9998" class="ui icon tiny @color basic button" onclick="editCommon('@item.Record', @item.Id)" /></td>
                        <td><input type="button" value="&#10008" class="ui icon tiny @color basic button" onclick="deleteCommon('@item.Record', @item.Id)" /></td>
                    }
                    else
                    {
                        <td><input type="button" value="&#128269" class="ui icon tiny @color basic button" onclick="showCommon('@item.Record', @item.Id)" /></td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>

<div class=" ui grid  mobile-only" style="margin-bottom:-2rem">
    <div class="column">
        @foreach (CommonModel item in Model.PageList)
        {
            <div class="ui fluid card">
                <div class="content">
                    @if (ViewBag.IsChecked)
                    {
                        <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="deleteCommon('@item.Record', @item.Id)">
                            <i class="trash alternate icon"></i>
                        </button>
                        <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="editCommon('@item.Record', @item.Id)">
                            <i class="highlighter icon"></i>
                        </button>
                    }
                    else
                    {
                        <button class="circular ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic right floated icon button" onclick="showCommon('@item.Record', @item.Id)">
                            <i class="search icon"></i>
                        </button>
                    }
                    <div class="header">
                        @if (item.Record == CarNotes.Enums.RecordType.Refuel)
                        {
                            @:Заправка
                        }
                        else if (item.Record == CarNotes.Enums.RecordType.Repair)
                        {
                            @:Ремонт
                        }
                        else if (item.Record == CarNotes.Enums.RecordType.Expense)
                        {
                            @:Расход
                        }
                    </div>
                    <div class="meta">
                        @item.Date.ToString("dd.MM.yyyy")
                    </div>
                    @if (item.WrongMileage)
                    {
                        <div class="description">
                            Пробег: @item.Mileage км&nbsp;<span data-tooltip="Неправильный пробег"><i class="exclamation orange triangle icon"></i></span>
                        </div>
                    }
                    else
                    { <div class="description">
                            Пробег: @item.Mileage км
                        </div>
                    }
                    <div class="description">
                        Стоимость: @item.Cost руб.
                    </div>
                </div>
            </div>
        }
        @if (Model.HasPreviousPage)
        {
            <button class="ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="moveBackCommon(@ViewBag.VehicleId, @Model.PageNumber - 1)">
                Назад
            </button>
        }
        @if (Model.HasNextPage)
        {
            <button class="ui @Html.Raw(new LinkMenuHelper().getColor(ViewBag.Name)) basic button" onclick="moveOnCommon(@ViewBag.VehicleId, @Model.PageNumber + 1)">
                Вперед
            </button>
        }
    </div>
</div>




